<div class="app-content">

<md-toolbar color="primary">
  <span>{{title}}</span>
</md-toolbar>

<router-outlet>
<p>Sistema de exemplo/teste, feito em Angular no frontend, e Node.js / Mongodb no backend.</p>

<p>Desenvolvido em 19/02/2017 por Rogerio Melfi</p>

<p>Para criar usuário e produtos (no caso livros de vestibular) deve ser chamado um get em <a href="http://localhost:8080/api/start">http://localhost:8080/api/start</a></p>

<p><a routerLink="/login">Login</a></p>
</router-outlet>


</div>

